* {
  font-family: Helvetica;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  color: rgb(0, 0, 0);
  font-style: Helvetica;
}

.blue {
  background-color: #275db3;
  color: rgb(0, 0, 0);
  font-style: Helvetica;
}

.home {
  background-color: rgb(159, 241, 255);
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1em;
}

.footer-links li {
  margin-right: 0px;
}

#text {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(108, 110, 108);
  font-weight: bold;
  margin-top: 0px;
  padding: 0em;
}
